.main{
  text-transform: capitalize;
  font-family: Dancing Script;
  text-align: center;
  font-size: 3rem;
}
.name{
  font-family: ;
  text-transform: capitalize;
}
.sub{
  font-family: Teko;
  text-align: center;
  font-size: 1.5rem;
}
img{
  width: 100%;
}